<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/stocktracker</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="com.stocktracker.repositorylayer.entity.CustomerEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.PortfolioEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.PortfolioStockEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockSectorEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockSubSectorEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.ExceptionEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockNoteEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockNoteSourceEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.VPortfolioStockEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.VStockNoteCountEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockAnalystConsensusEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.CustomerTagEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockTagEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.VStockTagEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockToBuyEntity"/>
    </session-factory>
</hibernate-configuration>