<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/stocktracker</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="com.stocktracker.repositorylayer.entity.CustomerEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.PortfolioEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.PortfolioStockEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.ExceptionEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockNoteEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockNoteSourceEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.VPortfolioStockEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.VStockNoteCountEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockAnalystConsensusEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.CustomerTagEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockTagEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.VStockTagEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockToBuyEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockCatalystEventEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.TradeItAccountEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.LinkedAccountEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockPositionEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockCompanyEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockKeyStatsEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.StockQuoteEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.GainsLossesEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.WatchListEntity"/>
        <mapping class="com.stocktracker.repositorylayer.entity.WatchListStockEntity"/>
    </session-factory>
</hibernate-configuration>