<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/stocktracker</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.stocktracker.repositorylayer.db.entity.CustomerEntity"/>
    <mapping class="com.stocktracker.repositorylayer.db.entity.CustomerPortfolioEntity"/>
    <mapping class="com.stocktracker.repositorylayer.db.entity.PortfolioEntity"/>
    <mapping class="com.stocktracker.repositorylayer.db.entity.PortfolioStockEntity"/>
    <mapping class="com.stocktracker.repositorylayer.db.entity.StockEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>