<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds" >
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!--<property name="LOG_FILE" value="/Users/michael.earl/Projects/MyStockTickersBE/logs/stocktracker.log"/>-->
    <!--<property name="LOG_FILE" value="/Users/mike/IdeaProjects/MyStockTickersBE/logs/stocktracker.log"/>-->
    <property name="LOG_FILE" value="/Users/michael.earl/Projects/MyStockTickersBE/logs/stocktracker.log"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="yahoofinance.quotes" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="com.stocktracker.servicelayer.service.StockService" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>