<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds" >
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!--<property name="LOG_FILE" value="/Users/michael.earl/Projects/MyStockTickersBE/logs/stocktracker.log"/>-->
    <property name="LOG_FILE" value="/Users/michael.earl/Projects/MyStockTickersBE/logs/stocktracker.log"/>
    <property name="LOG_FILE" value="/Users/mike/IdeaProjects/MyStockTickersBE/logs/stocktracker.log"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <logger name="org.hibernate.type" level="INFO" />
    <logger name="org.hibernate" level="INFO" />

    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="yahoofinance.quotes" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker.servicelayer.service.StockQuoteService" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker.servicelayer.service.StockEntityService" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker.servicelayer.stockinformationprovider" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker.weblayer.controllers.StockController" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="com.stocktracker.servicelayer.service.StockAnalystConsensusEntityService" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>